<!--
  ~ Copyright (c) 2024 Mike Cowan.
  ~
  ~ This source code is subject to the terms of the GNU General Public
  ~ License, version 3. If a copy of the GPL was not distributed with this
  ~ file, You can obtain one at: https://www.gnu.org/licenses/gpl-3.0.txt
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/gregbot.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/gregbot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PANEL" class="io.blt.gregbot.ui.logging.DocumentAppender">
        <lineLimit>4000</lineLimit>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </layout>
    </appender>

    <logger name="io.blt.gregbot" level="trace">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="PANEL"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

